body {
          background-color: #305CDE;
          min-height: 100vh;
        }

        .line {
          border: 1px solid black;
        }

        h1 {
          margin: 10px;
          text-align: center;
          color: wshite;
        }

        h2 {
          text-align: center;
          color: white;
        }

        p {
          text-align: center;
          margin: 50px;
          color: white;
          font-weight: 400;
        }

        .img_turma {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px;
        }

        a {
          color: white;
        }